*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    cursor: none;
}

body{
    background-color: #ececec;
}

.circle {
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999; /* so that it stays on top of all other elements */
}

#loader{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: #030303;
}

#wrapperload{
    overflow: hidden;
    width: 100%;
    height: 200px;
}

#wrapperload .elem{
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(.96);
    width: 100%;
    height: 100%;
}

#wrapperload .elem:nth-child(1){
    animation: scrollUp 1s cubic-bezier(0.19, 1, 0.22, 1) 5s both ;
}

#wrapperload .elem:nth-child(2){
    animation: scrollUp 1s cubic-bezier(0.19, 1, 0.22, 1) 11s both ;
}

#wrapperload .elem>h2{
    font-family: Saint Carell PERSONAL;
    font-size: 5.5vw;
    word-spacing: .5rem;
    font-weight: 100;
    background: #262626 -webkit-gradient(linear, left top, right top, from(#262626), to(#262626), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 150px;
    background-size: 150px;
    color: rgba(225, 225, 225, 0.1);
    -webkit-background-clip: text;
    animation: animate 8s;
}

#wrapperload .elem>h5{
    font-family: Mirador DEMO;
    font-size: 2.8vw;
    text-align: center;
    word-spacing: .5rem;
    color: #105717;
    font-weight: 100;
    background: #262626 -webkit-gradient(linear, left top, right top, from(#262626), to(#262626), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 150px;
    background-size: 150px;
    color: rgba(225, 225, 225, 0.1);
    -webkit-background-clip: text;
    animation: animate 9s 4s;
}

#wrapperload .elem2 h5{
    font-family: Mirador DEMO;
    font-size: 2.8vw;
    word-spacing: .5rem;
    color: #105717;
    font-weight: 100;
    background: #262626 -webkit-gradient(linear, left top, right top, from(#262626), to(#262626), color-stop(0.5, #fff)) 0 0 no-repeat;
    -webkit-background-size: 150px;
    background-size: 150px;
    color: rgba(225, 225, 225, 0.1);
    -webkit-background-clip: text;
    animation: animate 9s infinite 1s;
}

@keyframes animate {
    0%{
        background-position: -1000px;
    }
    20%{
        background-position: top left;
    }
    100%{
        background-position: 1000px;
    }
}

@keyframes scrollUp {
    to{
        margin-top: -200px;
    }
}

@keyframes scrollUp_2 {
    to{
        margin-top: -200px;
    }
}

