@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

#circle{
    position: absolute;
    width: 65px;
    height: 65px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    transform: translate(-50%,-50%);
}

/* #ganeshji_img{
    display: flex;
    justify-content: center;
    align-items: center;
} */

#preloader .sloka{
    position: absolute;
    top: 50%;
    left: 65%;
    transform: translate(-50%,-50%);
    font-size: 2vw;
    /* color: rgb(188, 178, 178); */
    color: white;
    opacity: .8;
    mix-blend-mode: screen;
    clip-path: polygon(0 0,100% 0, 100% 100%, 0% 100%);
    white-space: nowrap;
    line-height: 1.5rem;
    font-family: 'Bebas Neue', sans-serif;
}

.char{
    transform: translateY(115px);
    transition: transform .5s;
}
#ganeshji_img img{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%,-50%);
}

#preloader img{
    mix-blend-mode:screen;
    width: 38vw;
}

#preloader video{
    position: absolute;
    z-index: -1;
    right: 0;
    bottom: 0;
}

#text{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 250%);
}

#text h1{
    color:antiquewhite;
    background-color: rgb(140, 36, 36);
    padding: 0 5px;
    font-size: .8vw;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;    
}
